.starter-template {
    max-width: 960px;
    margin: 0 auto;
}

form#searchFlight-form {
    padding: 16px;
    background: #f5f5f5;
    border-radius: 8px;
}

i.fa {
    color: #5f9ea0;
}

#bth-search {
    width: 200px;
}

body, html {
    height: 100%;
}

.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-image: url("/../images/bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.select {
    width: 100%;
}

.select > select {
    width: 100%;
}

#resultsTable {
    margin-top: 24px;
}
